:root {
  --Very-Dark-Gray: hsl(0, 0%, 17%);
  --Dark-Gray: hsl(0, 0%, 59%);
}

/* ---------------- RESET ---------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  /* font-weight: 400; */
  min-height: 100vh;
  margin: 0;
  color: var(--Very-Dark-Gray);
  background-color: #f9f9f9;
  line-height: 1.5;
  
}

/* .container {
  position: relative;
  /* max-width: 375px;
    width: 100%;
    display: flex;
  justify-content: center;   
  align-items: center;  */
} */



main {
 
  display: grid;
}

#searchForm {
  /* margin: 0;
  margin-top: 0%; */
  text-align: center;
   padding: 3rem 1rem 7rem;
  position: relative;
  /* grid-template-columns: 1fr; */
  /* border: 2px solid rgb(213, 235, 107); */

  /* width: 100%;
  height: 270px;
  max-width: 100%; */

  background-image: url(./images/pattern-bg-desktop.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  /* z-index: 0; */
}
h1 {
  margin-top: 30px;
  margin-bottom: 1.5rem;
  color: white;
  font-weight: 400;
}

/* Search box */


.searchbox {
  display: flex;
  justify-content: center;
  max-width: 550px;
  margin: auto;
  /* border: 2px solid red; */
  /* margin-top: 20px; */
}

#searchInput {
  flex: 1;
  padding:  0.9rem 1rem;
  border: none;
  border-radius: 10px 0 0 10px; /* Round left corners only */
  border-right: none; /* Remove the middle border */
  font-size: 18px;
  width: 100%;
  /* height: 2%;
  margin-right: -5px;
  min-height: 50px;
  width: 50vh;
  font-size: 18px; */
}


#submit {
  /* border-left: none; */
  cursor: pointer;
  border: none;
  background-color: black;
    padding: 0 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  min-height: 50px; */
  border-radius: 0 10px 10px 0;
}

.error-message {
  display: block;
}
/* #searchboxInput{
    border: 2px solid red;
    border-radius: 10px;
} */



#submit {
  border-left: none;
  cursor: pointer;
  border: none;
  background-color: black;
  padding: 14px;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  min-height: 50px;
  border-radius: 0 10px 10px 0;
}

#submit:hover {
  background: #333;
}

/* ---------------- INFO CARDS ---------------- */
.middle {

  background-color: white;
   border-radius: 10px;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;

  max-width: 1100px;
   width: 90%;
  position: absolute;
   z-index: 2;
 
   box-shadow: 0 10px 25px rgba(0,0,0,0.15);
   margin: -40px auto 2rem;
   margin-left: 12rem;
   padding: 2rem;
    
  /* transform: translate(-20%, -20%);  */
}

.info-item {
 text-align: center;
  border-right: 1px solid var(--Dark-Gray);
  padding: 0 1rem;
display: flex;
  flex-direction: column;
  gap: 2px;
  /* border-right: 1px solid var(--Dark-Gray);
  padding-top: 2px;
  padding-bottom: px;

  display: inline-block;
  font-size: 30px;  */
}

.info-item:last-child {
  border-right: none;
}

.value {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.5rem;
  display: block;
}
.label {

  font-size: 0.75rem;
  letter-spacing: 1px;
   color: var(--Dark-Gray);
   text-transform: uppercase;
   font-weight: 700;

  display: block;

  font-size: 18px;
 
  font-weight: 500;
}


/* ---------------- MAP ---------------- */pp
#map{
  width: 100%;
  height: 500px;
}

/* .divider {
  width: 1px;
  height: 5px;
} */

/* .temp {
  border: 2px solid black;
} */

#map {
  z-index: 0;
  height: 530px;
  width: 100%;
  margin: 0;
position: relative;
  /* border: 5px solid rgb(236, 10, 10); */
  
}



/* ---------------- RESPONSIVE ---------------- */

/* Tablet */
@media (max-width: 900px) {
  .middle {
    grid-template-columns: repeat(2, 1fr);
  }

  .info-item {
    border-right: none;
  }
}
@media (max-width: 450px) {

  #searchForm {
    background-image: url(./images/pattern-bg-mobile.png);
    padding-bottom: 6rem;
  }

  .middle {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1.2rem;
  }

  .info-item {
    border: none;
    align-items: center;
    text-align: center;
  }

  #map {
    height: 400px;
  }
}
