:root{
   --Very-Dark-Gray: hsl(0, 0%, 17%);
   --Dark-Gray: hsl(0, 0%, 59%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    max-width: 375px;
    width: 100%;
    display: flex;
  justify-content: center;   /* horizontal alignment */
  align-items: center; 
  
  
}

body{
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 400;
    min-height: 100vh;
    margin: 0;
    color: var(--Very-Dark-Gray);
     background-color: #f9f9f9;
     line-height: 1.5;
    display: grid;
    
    
}


main{
    min-height: 500vh;
    display: grid;
    
}
 #searchForm{
    margin: 0;
    margin-top: 0%;
    text-align: center;
    grid-template-columns: 1fr;
    /* border: 2px solid rgb(213, 235, 107); */
    
    width: 100%;
    height: 270px;
    max-width: 100%;
    background-image: url(./images/pattern-bg-desktop.png);
    z-index: 0;
    
 }
h1{
    margin-top: 30px;
    color: white;
    font-weight: 400;
    
}

.searchbox{

    /* border: 2px solid red; */
    margin-top: 20px;

  
  
}
/* #searchboxInput{
    border: 2px solid red;
    border-radius: 10px;
} */


 #searchInput{
    flex:1;
    padding: 10px;
    border: none;
    font-size: 16px;
    height: 2%;
    margin-right: -5px;
    min-height: 50px;
    width: 50vh;

     
 }

 #submit{
    background: black;
    padding: 10px;
    min-height: 50px;
    
 }

.middle{
   
    justify-content: baseline;
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    border-radius: 10px;
    
    /* border: 2px solid rgb(0, 255, 8); */
    background-color: white;
    z-index: 1;
    width: 70%;
    position: absolute;
    right: 20vw;
    height: 20vh;
    top: 40%;

    left: 50%;
    transform: translate(-50%,-50%);

    
}
.info-item{
    display: inline-block;
    font-size: 30px;   
}

.value{
    font-size: 18px;
}
.label{
    display:block;
    
    font-size: 18px;
    color: var(--Dark-Gray);
    font-weight: 500
    

}

.divider{
    
   
    width: 1px;
    height: 5px;
    
}

.temp{
    border: 2px solid black;
}

#map { 
    z-index: 0;
    height: 500px;
    width: 100%;
    margin: 0;
    
    /* border: 5px solid rgb(236, 10, 10); */
    position: relative;
}


 @media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .section{
    max-width: 600px;
    margin: auto;
  }
}